*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
} 
body{
    background-color: rgb(15, 15, 15);
}
.load{
    color: white;
}
.search{
    width: 350px;
    color: rgb(224, 224, 224);
    font-size: 20px;
    height: 60px;
    border-radius: 10px;
    border: rgb(18, 18, 18) 5px solid;
    margin:50px auto 0;
    padding-left: 15px;
    background-color: rgb(32, 32, 32);
}
.div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards{
    color: rgb(224, 224, 224);
    font-size: 20px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: start;
    gap: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    background-color: rgb(32, 32, 32);
    border-radius: 15px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 20px;
    color: rgb(224, 224, 224);
    text-align: center;
}
